
$primary:       #5265E1;
$secondary:     #FA5959;
$success:       #000a4e;

$accordion-icon-color:          #5265E1;
$accordion-icon-active-color:   #FA5959;  

@import "../node_modules/bootstrap/scss/bootstrap";

.conteiner-fluid{
    overflow: hidden;
}
.header:hover{
    color:#FA5959 !important
}
.tab{
    color: gray;
    border:none !important;
    border-bottom:1px solid rgb(190, 187, 187) !important;
    border-top:1px solid rgb(190, 187, 187) !important;
    width: 60vw ;
    margin: auto;
}
.tab:hover{
    color:#FA5959 !important
}
.tab:focus{
    border-bottom: 5px inset #FA5959 !important;
}
#myTab{
    border:none;
}
.btn-primary:hover{
    background-color: white;
    color: $primary;
}
.btn-light:hover{
    border: 1px solid black;
}
.btn-secondary{
    color: white;
}
.btn-secondary:hover{
    color: #FA5959;
    background-color: white;  
}
.card{
    border: none;
    margin-top: 70px;
}
.accordion-button:focus{
    color: black;
    box-shadow:none;
    background-color: white;
}
.accordion-button:hover{
    color: $secondary;
}
.separacion{
    letter-spacing: 0.3em;
    word-spacing: 0.3em;
    font-size: 0.8em;
}


@include media-breakpoint-up(sm) {
    .tab{
        color: gray;
        border:none !important;
        border-bottom:1px solid rgb(190, 187, 187) !important;
        width: 15vw ;
    }
    .dos{
        margin-top: 120px;
    }
    .tres{
        margin-top: 170px;
    }
 }