
$primary:       #5265E1;
$secondary:     #FA5959;
$success:       #000a4e;

$accordion-icon-color:          $primary;
$accordion-icon-active-color:   $secondary;  

$form-feedback-invalid-color:       $secondary;

$modal-backdrop-opacity:            .8;
$modal-content-border-color:        none;
$modal-content-border-width:        none;

$form-feedback-icon-invalid: url("../Recursos projecte sprint 2-20220422/Imagenes/icon-error.svg");

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./modal";

.conteiner-fluid{
    overflow: hidden;
    font-family: general;
}
h1,h2,h3{
    font-family: títulos;
}
.modal-content{
    background-color: transparent;
}
.close{
    background:transparent;
    border: none;
}
.enlaces{
    border-top: 1px solid gray;
    padding-top: 10px;
    margin-bottom: 10px;
}
.bt{
    font-size: 1em !important;
    letter-spacing: 0.2em;
} 
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}
.header:hover{
    color: $secondary !important;
}
.mancha{
    height:33vh;
}
.tab{
    color: gray;
    border:none !important;
    width: 60vw ;
    margin: auto;
}
.tab:hover{
    color:$secondary!important;
}
#myTab li{
    border-bottom:1px solid rgb(216, 214, 214) !important;
    border-top:1px solid rgb(216, 214, 214) !important;
}
#myTab li button.active{
    border-bottom: 5px inset $secondary !important;
}
#myTab{
    border:none;
}
.btn{
    font-weight: bold;
    font-size: 0.8em;
    height: 100%;
}
.btn:focus{
    color:white;
    box-shadow: none;
}
.btn-primary:hover{
    background-color: white;
    color: $primary;
}
.btn-light:hover{
    border: 1px solid black;
}
.btn-light:focus{
    color: black;
}
.btn-secondary{
    color: white;
}
.btn-secondary:hover{
    color: $secondary;
    background-color: white;  
}
.card{
    border: none;
    margin-top: 70px;
    border-radius: 10px;
}
.card-tittle{
    font-family: títulos;
}
.accordion-button:focus{
    color: black;
    box-shadow:none;
    background-color: white;
}
.accordion-button:hover{
    color: $secondary;
}
.separacion{
    letter-spacing: 0.3em;
    word-spacing: 0.3em;
    font-size: 0.8em;
}
.iconoA{
    background-image: url("../Recursos projecte sprint 2-20220422/Imagenes/facebook.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    height: 30px;
}
.iconoB{
    background-image: url("../Recursos projecte sprint 2-20220422/Imagenes/twitter.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    height: 30px;
}
.iconoA:hover{
    background-image: url("../Recursos projecte sprint 2-20220422/Imagenes/icon-facebook.svg");
}
.iconoB:hover{
    background-image: url("../Recursos projecte sprint 2-20220422/Imagenes/icon-twitter.svg");
}

@include media-breakpoint-up(sm) {
    #myTab li{
        border-bottom:1px solid rgb(216, 214, 214) !important;
        border-top:none !important;
    }
    .tab{
        color: gray;  
        width: 15vw ;
    }
    .mancha{
        height:40vh;
    }
    %tarjetas{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .card:nth-child(1){
        @extend %tarjetas;
        margin-top: 70px;
    }
    .card:nth-child(2){
        @extend %tarjetas;
        margin-top: 120px;
    }
    .card:nth-child(3){
        @extend %tarjetas;
        margin-top: 170px;
    }
    .footer{
        height: 60px;
    }
 }

 

 @font-face {
    font-family: títulos;
    src: url("../Poppins/Poppins-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: general;
    src: url("../Poppins/Poppins-Regular.ttf") format('truetype');
}